In [1]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from nltk.corpus import stopwords
import matplotlib.pylab as pylab
import matplotlib.pyplot as plt
from pandas import get_dummies
import matplotlib as mpl
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib
import warnings
import sklearn
import string
import scipy
import numpy
import nltk
import json
import sys
import csv
import os

In [12]:
#import dataset
acquisitions = pd.read_csv("/Users/lucyhyde/Desktop/Practicum_Data/acquisitions.csv")

In [13]:
type(acquisitions)

pandas.core.frame.DataFrame

In [14]:
#shape
print(acquisitions.shape)

(22206, 6)

In [15]:
print(acquisitions.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22206 entries, 0 to 22205
Data columns (total 6 columns):
org_permalink         22205 non-null object
acq_announced_on      22206 non-null object
acq_price_usd         3839 non-null float64
acq_type              19152 non-null object
acq_status            18788 non-null object
acquirer_permalink    22206 non-null object
dtypes: float64(1), object(5)
memory usage: 1.0+ MB
None

In [16]:
acquisitions.head(10)

,org_permalink,acq_announced_on,acq_price_usd,acq_type,acq_status,acquirer_permalink
0,0-in-design-automation,2004-09-01,NaN,acquisition,NaN,mentor-graphics
1,1000-markets,2012-09-22,NaN,NaN,NaN,bonanzle
2,1000museums-com,2016-07-26,NaN,acquisition,complete,art-authority
3,1011-web-solutions,2014-01-30,NaN,acquisition,complete,thoughtwire-media
4,101-wkqx,2018-04-03,NaN,acquisition,pending,cumulus-media-partners
5,10best,2011-01-25,NaN,acquisition,complete,nile-guide
6,10-day-media,2018-10-26,NaN,acquisition,complete,global-services-group
7,10east,2009-04-14,NaN,NaN,NaN,railcar-management
8,10-foot-wave,2018-03-28,NaN,merge,pending,spectrio
9,10k-wizard,2008-12-04,NaN,NaN,NaN,morningstar

In [17]:
acquisitions.tail(10)

,org_permalink,acq_announced_on,acq_price_usd,acq_type,acq_status,acquirer_permalink
22196,zxy-sport-tracking,2014-04-06,5001780.0,acquisition,complete,chyronhego
22197,zycron,2017-04-06,20000000.0,acquisition,complete,bg-staffing
22198,zylera-pharmaceuticals,2017-11-17,NaN,acquisition,pending,cerecor
22199,zyman-group,2005-04-01,NaN,acquisition,complete,mdc-partners
22200,zymetis,2011-07-06,NaN,acquisition,complete,ae-biofuels-inc
22201,zync-render,2014-08-26,NaN,acquisition,complete,google
22202,zyray-wireless-inc,2004-06-16,96000000.0,acquisition,complete,broadcom
22203,zyrion,2013-06-25,NaN,NaN,NaN,kaseya
22204,zystor,2010-08-18,115000000.0,acquisition,complete,biomarin-pharmaceutical
22205,NaN,2012-01-25,NaN,lbo,complete,sponsor-capital

In [18]:
acquisitions.describe()

       acq_price_usd
count   3.839000e+03
mean    4.646451e+08
std     1.839873e+09
min     0.000000e+00
25%     2.100000e+07
50%     7.932095e+07
75%     2.900000e+08
max     5.450000e+10

In [20]:
acquisitions.columns

Index(['org_permalink', 'acq_announced_on', 'acq_price_usd', 'acq_type',
       'acq_status', 'acquirer_permalink'],
      dtype='object')

In [21]:
acquisitions.nlargest(10, 'acq_price_usd')

,org_permalink,acq_announced_on,acq_price_usd,acq_type,acq_status,acquirer_permalink
16520,reynolds-america,2017-01-17,5.450000e+10,acquisition,complete,british-american-tobacco
36,21st-century-fox,2017-12-14,5.240000e+10,acquisition,pending,the-walt-disney-company
18149,spectra-energy,2016-09-06,2.800000e+10,lbo,complete,enbridge
1137,american-general-company,2001-08-30,2.300000e+10,acquisition,complete,american-international-group
6597,energy-transfer-equity,2016-11-21,2.100000e+10,acquisition,complete,sunoco-logistics-partners
14826,pharmacyclics,2015-03-04,2.100000e+10,acquisition,complete,abbvie
21485,wellpoint-health-networks,2003-10-27,2.088000e+10,acquisition,complete,wellpoint
21541,whatsapp,2014-02-19,1.900000e+10,acquisition,complete,facebook
10372,jarden,2015-12-14,1.540000e+10,acquisition,complete,newell-rubbermaid
9107,hospira,2015-02-05,1.500000e+10,acquisition,complete,pfizer

In [23]:
acquisitions.isnull().sum()

org_permalink             1
acq_announced_on          0
acq_price_usd         18367
acq_type               3054
acq_status             3418
acquirer_permalink        0
dtype: int64